n8n-workflows/melosmile/05-melosmile-agent-scheduling.json
{
  "name": "[MELOSMILE] Sub-Agent: Agendamiento",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook_Scheduling",
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "melosmile-agent-scheduling",
        "responseMode": "responseNode"
      },
      "position": [250, 300],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1
    },
    {
      "id": "2",
      "name": "Gemini_Chat_Model",
      "parameters": {
        "modelName": "models/gemini-2.0-flash"
      },
      "position": [450, 450],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "3",
      "name": "Agent_Scheduling",
      "parameters": {
        "options": {
          "systemMessage": "Role: Eres el Sub-agente Especialista en Agendamiento de la clínica dental Melosmile.\n\nObjective: Procesar solicitudes de agendamiento, modificación o cancelación de citas dentales interpretando fechas relativas y utilizando las herramientas para buscar pacientes y confirmar citas en la base de datos.\n\nApproach Step-by-Step:\n1. Interpretar las fechas relativas (\"en 15 días\", \"el próximo lunes a las 10:00\") calculando la fecha exacta en ISO 8601 considerando la fecha actual (Europe/Madrid).\n2. Si se menciona un paciente, usar 'Tool_Search_Patients' para obtener su ID y datos oficiales.\n3. Usar 'Tool_Appointment_Manager' para registrar o actualizar la cita con el paciente, fecha y tratamiento.\n4. Responder en formato JSON estructurado con la confirmación de la cita.\n\nDetails:\n- Formato final de fecha: YYYY-MM-DDTHH:mm:ss.\n- Clínica por defecto: Melosmile Albacete."
        },
        "promptType": "define",
        "text": "={{ $json.body.extracted_entities ? JSON.stringify($json.body.extracted_entities) : $json.body.message }}"
      },
      "position": [450, 300],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7
    },
    {
      "id": "4",
      "name": "Tool_Search_Patients",
      "parameters": {
        "method": "GET",
        "placeholderDefinitions": {
          "values": [
            { "description": "Nombre o teléfono del paciente a buscar", "name": "query" }
          ]
        },
        "toolDescription": "Busca pacientes en Melosmile por nombre o teléfono para obtener su ID de paciente oficial.",
        "url": "https://melosmile.app/api/patients/search?q={query}"
      },
      "position": [700, 200],
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1
    },
    {
      "id": "5",
      "name": "Tool_Appointment_Manager",
      "parameters": {
        "jsonBody": "={{ JSON.stringify({ patient_id: $json.patient_id, date: $json.date, treatment: $json.treatment }) }}",
        "method": "POST",
        "sendBody": true,
        "toolDescription": "Crea o actualiza una cita dental en la base de datos de Melosmile. Requiere patient_id, date e importe/tratamiento.",
        "url": "https://melosmile.app/api/appointments"
      },
      "position": [700, 400],
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1
    },
    {
      "id": "6",
      "name": "Respond_to_Webhook",
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      },
      "position": [950, 300],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    }
  ],
  "connections": {
    "Webhook_Scheduling": { "main": [[{ "node": "Agent_Scheduling", "type": "main", "index": 0 }]] },
    "Gemini_Chat_Model": { "ai_languageModel": [[{ "node": "Agent_Scheduling", "type": "ai_languageModel", "index": 0 }]] },
    "Tool_Search_Patients": { "ai_tool": [[{ "node": "Agent_Scheduling", "type": "ai_tool", "index": 0 }]] },
    "Tool_Appointment_Manager": { "ai_tool": [[{ "node": "Agent_Scheduling", "type": "ai_tool", "index": 0 }]] },
    "Agent_Scheduling": { "main": [[{ "node": "Respond_to_Webhook", "type": "main", "index": 0 }]] },
    "Respond_to_Webhook": { "main": [] }
  },
  "tags": ["Melosmile"]
}
