n8n-workflows/melosmile/06-melosmile-agent-clinical.json
{
  "name": "[MELOSMILE] Sub-Agent: Clinico",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook_Clinical",
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "melosmile-agent-clinical",
        "responseMode": "responseNode"
      },
      "position": [250, 300],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1
    },
    {
      "id": "2",
      "name": "Gemini_Chat_Model",
      "parameters": {
        "modelName": "models/gemini-2.0-flash"
      },
      "position": [450, 450],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "3",
      "name": "Agent_Clinical",
      "parameters": {
        "options": {
          "systemMessage": "Role: Eres el Sub-agente Especialista Clínico de Melosmile.\n\nObjective: Responder consultas sobre el historial médico del paciente, notas de evolución por cita, anamnesis, alergias y generar síntesis técnicas verificadas.\n\nApproach Step-by-Step:\n1. Analizar el paciente o sesión solicitada.\n2. Invocación de 'Tool_Clinical_Context' para recuperar el historial médico real y tratamientos realizados.\n3. Si el usuario requiere sintetizar la ficha médica, invocar 'Tool_Patient_Summary'.\n4. Formatear la respuesta clínica en markdown profesional con alertas médicas (alergias a antibióticos, antecedentes) claramente destacadas.\n\nConstraints:\n- Prohibido alucinar diagnósticos o tratamientos no registrados en la ficha."
        },
        "promptType": "define",
        "text": "={{ $json.body.extracted_entities ? JSON.stringify($json.body.extracted_entities) : $json.body.message }}"
      },
      "position": [450, 300],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7
    },
    {
      "id": "4",
      "name": "Tool_Clinical_Context",
      "parameters": {
        "method": "GET",
        "toolDescription": "Obtiene el contexto médico completo de la clínica (catalogo de tratamientos, reglas clínicas e historial de pacientes).",
        "url": "https://melosmile.app/api/ai-context"
      },
      "position": [700, 200],
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1
    },
    {
      "id": "5",
      "name": "Tool_Patient_Summary",
      "parameters": {
        "jsonBody": "={{ JSON.stringify({ patient_id: $json.patient_id }) }}",
        "method": "POST",
        "sendBody": true,
        "toolDescription": "Genera una síntesis técnica clínica en el perfil del paciente basada en sus notas de citas reales.",
        "url": "https://melosmile.app/api/ai/patient-summary"
      },
      "position": [700, 400],
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1
    },
    {
      "id": "6",
      "name": "Respond_to_Webhook",
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      },
      "position": [950, 300],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    }
  ],
  "connections": {
    "Webhook_Clinical": { "main": [[{ "node": "Agent_Clinical", "type": "main", "index": 0 }]] },
    "Gemini_Chat_Model": { "ai_languageModel": [[{ "node": "Agent_Clinical", "type": "ai_languageModel", "index": 0 }]] },
    "Tool_Clinical_Context": { "ai_tool": [[{ "node": "Agent_Clinical", "type": "ai_tool", "index": 0 }]] },
    "Tool_Patient_Summary": { "ai_tool": [[{ "node": "Agent_Clinical", "type": "ai_tool", "index": 0 }]] },
    "Agent_Clinical": { "main": [[{ "node": "Respond_to_Webhook", "type": "main", "index": 0 }]] },
    "Respond_to_Webhook": { "main": [] }
  },
  "tags": ["Melosmile"]
}
